// Vennet theme variables
$vennet-colors: (
  spring-wood: #F7F4ED,
  willow-brook: #F1F7ED,
  kokoda-color: #676550,
  razzmatazz-color: #DD0369,
  azure-radiance: #00A4FF,
  lima: #44E238,
  electric-violet: #780FE1,
  turbo: #E1E100,
);
