// Fonts
$source-sans-pro-font: "Source Sans Pro";
$fira-code-font: "Fira Code";

// Vennet theme variables
$vennet-primary-font: $source-sans-pro-font;
$vennet-secondary-font: $fira-code-font;
$vennet-common-font: sans-serif;
$vennet-border-radius: .4rem;
