// Fonts
$source-sans-pro-font: "Source Sans Pro";
$lato-font: "Lato";
$montserrat-font: "Montserrat";
$nunito-font: "Nunito";

// Vennet theme variables
$vennet-primary-font: $source-sans-pro-font;
$vennet-secondary-font: sans-serif;
$vennet-border-radius: .4rem;
